In [2]:
import os, os.path
import numpy as np
import pandas as pd
import data_structures as ds
import setup_analysis as sa
import support_functions as sf
import importlib
import time
import warnings
import matplotlib.pyplot as plt
import model_afolu as ma
import model_circular_economy as mc
import model_ippu as mi
import model_socioeconomic as ms

importlib.reload(ds)
importlib.reload(sa)
importlib.reload(sf)
importlib.reload(ma)
importlib.reload(mc)
importlib.reload(mi)
importlib.reload(ms)

/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/python/data_structures.py:719: UserWarning: Invalid subsector attribute 'key_varreqs_partial'. Valid return type values are:'pycategory_primary', 'abv_subsector', 'sector', 'abv_sector', 'key_varreqs_all'
  warnings.warn(f"Invalid subsector attribute '{return_type}'. Valid return type values are:{valid_rts}")
/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/python/data_structures.py:719: UserWarning: Invalid subsector attribute 'key_varreqs_partial'. Valid return type values are:'pycategory_primary', 'abv_subsector', 'sector', 'abv_sector', 'key_varreqs_all'
  warnings.warn(f"Invalid subsector attribute '{return_type}'. Valid return type values are:{valid_rts}")

In [6]:
df_emissions = pd.read_csv("/Users/jsyme/Documents/Projects/FY21/SWCHE131_1000/Data/ingestion/FAOSTAT/Emissions_Totals_E_All_Data_(Normalized)/Emissions_Totals_E_All_Data_(Normalized).csv")
df_item_codes_to_mb_sum_factor = pd.read_csv("/Users/jsyme/Documents/Projects/FY21/SWCHE131_1000/Data/AFOLU/fao_emissions_mass_balance_equation_by_item_code.csv")


dict_ic_to_sf = sf.build_dict(df_item_codes_to_mb_sum_factor[["item_code", "sum_factor"]])

In [12]:
df_emissions.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Year Code,Year,Source Code,Source,Unit,Value,Flag,Note
0,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),1961,1961,3050,FAO TIER 1,kilotonnes,240.6831,Fc,NaN
1,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),1962,1962,3050,FAO TIER 1,kilotonnes,245.3106,Fc,NaN
2,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),1963,1963,3050,FAO TIER 1,kilotonnes,255.8285,Fc,NaN
3,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),1964,1964,3050,FAO TIER 1,kilotonnes,259.0650,Fc,NaN
4,2,Afghanistan,5058,Enteric Fermentation,7225,Emissions (CH4),1965,1965,3050,FAO TIER 1,kilotonnes,265.5980,Fc,NaN

In [19]:
em_elems = set([x for x in list(df_emissions["Element"]) if "Emissions (CO2eq) (AR5)" in x])
# check the mass balance
df_emissions_check = df_emissions[
    df_emissions["Year"].isin([2016, 2017, 2018, 2019, 2020]) & 
    df_emissions["Element"].isin(em_elems) &
    df_emissions["Item Code"].isin(dict_ic_to_sf.keys())
][["Area", "Item Code", "Item", "Year", "Value"]]

# get the mass balance to check
df_emissions_check["mb_value"] = df_emissions_check["Item Code"].replace(dict_ic_to_sf)
df_emissions_check["mb_value"] = np.array(df_emissions_check["mb_value"]) * np.array(df_emissions_check["Value"])

fields_grp = ["Area", "Year"]
fields_agg = ["mb_value"]
dict_agg = dict(zip(fields_grp, ["first" for x in fields_grp]))
dict_agg.update(dict(zip(fields_agg, ["sum" for x in fields_agg])))

df_emissions_check

,Area,Item Code,Item,Year,Value,mb_value
183,Afghanistan,5058,Enteric Fermentation,2016,10664.5483,10664.5483
184,Afghanistan,5058,Enteric Fermentation,2017,10396.0163,10396.0163
185,Afghanistan,5058,Enteric Fermentation,2018,10608.8357,10608.8357
186,Afghanistan,5058,Enteric Fermentation,2019,10910.3754,10910.3754
494,Afghanistan,5059,Manure Management,2016,795.5057,795.5057
...,...,...,...,...,...,...
1048140,Americas,5061,Synthetic Fertilizers,2019,133286.4230,133286.4230
1048442,Americas,5062,Manure applied to Soils,2016,37819.9306,37819.9306
1048443,Americas,5062,Manure applied to Soils,2017,37071.0827,37071.0827
1048444,Americas,5062,Manure applied to Soils,2018,37312.5105,37312.5105
1048445,Americas,5062,Manure applied to Soils,2019,37133.1658,37133.1658

In [5]:
all_items = set(df_emissions[
    df_emissions["Year"].isin([2019]) &
    df_emissions["Area"].isin(["Mexico"])
]["Item"])

all_elems = set([x for x in list(df_emissions["Element"]) if "Emissions (CO2eq) (AR5)" in x])

df_emissions_tmp = df_emissions[
    df_emissions["Year"].isin([2019]) &
    df_emissions["Area"].isin(["Mexico"]) & 
    df_emissions["Element"].isin(all_elems)
]
#df_emissions_tmp.to_csv("/Users/jsyme/Desktop/calc_fao_mb.csv", index = None, encoding = "UTF-8")

In [ ]:
df_emissions_tmp