In [285]:
import pandas as pd
import model_afolu as ma
import model_circular_economy as mc
import numpy as np
import os, os.path
import setup_analysis as sa
import support_functions as sf
import importlib
importlib.reload(sa)
#import data_structures as ds
#importlib.reload(ds)

In [99]:
#model_ce = mc.CircularEconomy(sa.model_attributes)

                                      Variable  max_35  min_35
0    ef_anaerobicdom_bevs_and_spices_kg_ch4_ha     1.0     1.0
1            ef_anaerobicdom_cereals_kg_ch4_ha     1.0     1.0
2             ef_anaerobicdom_coffee_kg_ch4_ha     1.0     1.0
3             ef_anaerobicdom_fibers_kg_ch4_ha     1.0     1.0
4             ef_anaerobicdom_fruits_kg_ch4_ha     1.0     1.0
..                                         ...     ...     ...
511                          va_mining_mmm_usd     1.0     1.0
512                            area_country_ha     1.0     1.0
513                                   occ_rate     1.0     1.0
514                           population_rural     1.0     1.0
515                           population_urban     1.0     1.0

[516 rows x 3 columns]

In [368]:
# get the
tp = max(sa.model_attributes.get_time_periods()[0])
f0, f1 = (f"min_{tp}", f"max_{tp}")
df_template_afolu = pd.read_csv(os.path.join(sa.dir_ref, "fake_data", "tmp_afolu_vars_with_mcmc_new.csv"))
df_template_afolu.drop([f0, f1], axis = 1, inplace = True)

df_sampling_range_defaults = sa.model_attributes.build_default_sampling_range_df()

df_template_afolu = pd.merge(df_template_afolu, df_sampling_range_defaults, how = "left", on = ["variable"])
df_template_afolu = df_template_afolu.dropna(subset = ["max_35", "min_35"], how = "any")
df_template_afolu.drop(["src"], axis = 1, inplace = True)

df_template_afolu["time_series_id"] = np.zeros(len(df_template_afolu)).astype(int)
df_template_afolu["strategy_id"] = np.zeros(len(df_template_afolu)).astype(int)
df_template_afolu["uniform_scaling_q"].iloc[~df_template_afolu["uniform_scaling_q"].isna()] = df_template_afolu["uniform_scaling_q"].iloc[2]

# order
tp_max = max(sa.model_attributes.get_time_periods()[0])
fields_minmax = [f"min_{tp_max}", f"max_{tp_max}"]
fields_prep = [x for x in df_template_afolu.columns if not x.isnumeric() and (x not in fields_minmax)] + fields_minmax
fields_prep = fields_prep + [f"min_{tp_max}", f"max_{tp_max}"]
fields_times = [x for x in df_template_afolu.columns if (x not in fields_prep)]

df_template_afolu = df_template_afolu[fields_prep + fields_times]


dict_afolu = {
    "strategy_id-0": df_template_afolu, 
    "strategy_id-1": df_template_afolu.iloc[0:0]
}
sf.dict_to_excel(sa.excel_template_path("AFOLU", "arg", "demo", True), dict_afolu)

/Users/jsyme/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [367]:
max(sa.model_attributes.get_time_periods()[0])#dict_attributes["abbreviation_sector"].field_maps["sector_to_abbreviation_sector"]

35

In [361]:
importlib.reload(sf)
importlib.reload(ds)
importlib.reload(sa)
sa.excel_template_path("AFOLU", "arg", "demo", True)

'/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/ref/ingestion/parameters_demo/model_input_variables_arg_af_demo.xlsx'

In [360]:

?pd.DataFrame.to_excel

Signature:
pd.DataFrame.to_excel(
    self,
    excel_writer,
    sheet_name='Sheet1',
    na_rep='',
    float_format=None,
    columns=None,
    header=True,
    index=True,
    index_label=None,
    startrow=0,
    startcol=0,
    engine=None,
    merge_cells=True,
    encoding=None,
    inf_rep='inf',
    verbose=True,
    freeze_panes=None,
) -> None
Docstring:
Write object to an Excel sheet.

To write a single object to an Excel .xlsx file it is only necessary to
specify a target file name. To write to multiple sheets it is necessary to
create an `ExcelWriter` object with a target file name, and specify a sheet
in the file to write to.

Multiple sheets may be written to by specifying unique `sheet_name`.
With all data written to the file it is necessary to save the changes.
Note that creating an `ExcelWriter` object with a file name that already
exists will result in the contents of the existing file being erased.

Parameters
----------
excel_writer : str or ExcelWriter object
    File path or existing ExcelWriter.
sheet_name : str, default 'Sheet1'
    Name of sheet which will contain DataFrame.
na_rep : str, default ''
    Missing data representation.
float_format : str, optional
    Format string for floating point numbers. For example
    ``float_format="%.2f"`` will format 0.1234 to 0.12.
columns : sequence or list of str, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of string is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, optional
    Column label for index column(s) if desired. If not specified, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the DataFrame uses MultiIndex.
startrow : int, default 0
    Upper left cell row to dump data frame.
startcol : int, default 0
    Upper left cell column to dump data frame.
engine : str, optional
    Write engine to use, 'openpyxl' or 'xlsxwriter'. You can also set this
    via the options ``io.excel.xlsx.writer``, ``io.excel.xls.writer``, and
    ``io.excel.xlsm.writer``.
merge_cells : bool, default True
    Write MultiIndex and Hierarchical Rows as merged cells.
encoding : str, optional
    Encoding of the resulting excel file. Only necessary for xlwt,
    other writers support unicode natively.
inf_rep : str, default 'inf'
    Representation for infinity (there is no native representation for
    infinity in Excel).
verbose : bool, default True
    Display more information in the error logs.
freeze_panes : tuple of int (length 2), optional
    Specifies the one-based bottommost row and rightmost column that
    is to be frozen.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
ExcelWriter : Class for writing DataFrame objects into excel sheets.
read_excel : Read an Excel file into a pandas DataFrame.
read_csv : Read a comma-separated values (csv) file into DataFrame.

Notes
-----
For compatibility with :meth:`~DataFrame.to_csv`,
to_excel serializes lists and dicts to strings before writing.

Once a workbook has been saved it is not possible write further data
without rewriting the whole workbook.

Examples
--------

Create, write to and save a workbook:

>>> df1 = pd.DataFrame([['a', 'b'], ['c', 'd']],
...                    index=['row 1', 'row 2'],
...                    columns=['col 1', 'col 2'])
>>> df1.to_excel("output.xlsx")  # doctest: +SKIP

To specify the sheet name:

>>> df1.to_excel("output.xlsx",
...              sheet_name='Sheet_name_1')  # doctest: +SKIP

If you wish to write to more than one sheet in the workbook, it is
necessary to specify an ExcelWriter object:

>>> df2 = df1.copy()
>>> with pd.ExcelWriter('output.xlsx') as writer:  # doctest: +SKIP
...     df1.to_excel(writer, sheet_name='Sheet_name_1')
...     df2.to_excel(writer, sheet_name='Sheet_name_2')

ExcelWriter can also be used to append to an existing Excel file:

>>> with pd.ExcelWriter('output.xlsx',
...                     mode='a') as writer:  # doctest: +SKIP
...     df.to_excel(writer, sheet_name='Sheet_name_3')

To set the library that is used to write the Excel file,
you can pass the `engine` keyword (the default engine is
automatically chosen depending on the file extension):

>>> df1.to_excel('output1.xlsx', engine='xlsxwriter')  # doctest: +SKIP
File:      ~/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py
Type:      function

In [335]:
sa.model_attributes.get_sector_attribute("AFOLU", "abbreviation_sector")

'af'

In [132]:
df_template_afolu

,subsector,variable,time_series_id,strategy_id,variable_trajectory_group,variable_trajectory_group_trajectory_type,normalize_group,trajgroup_no_vary_q,uniform_scaling_q,0,...,28,29,30,31,32,33,34,35,max_35,min_35
0,Agriculture,ef_anaerobicdom_bevs_and_spices_kg_ch4_ha,0,0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,Agriculture,ef_anaerobicdom_cereals_kg_ch4_ha,0,0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,Agriculture,ef_anaerobicdom_coffee_kg_ch4_ha,0,0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,Agriculture,ef_anaerobicdom_fibers_kg_ch4_ha,0,0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
4,Agriculture,ef_anaerobicdom_fruits_kg_ch4_ha,0,0,NaN,NaN,NaN,NaN,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,Livestock,lvst_pop_initial_goats,0,0,NaN,NaN,NaN,NaN,NaN,25082.0,...,25082.0,25082.0,25082.0,25082.0,25082.0,25082.0,25082.0,25082.0,1.0,1.0
306,Livestock,lvst_pop_initial_horses,0,0,NaN,NaN,NaN,NaN,NaN,126033.0,...,126033.0,126033.0,126033.0,126033.0,126033.0,126033.0,126033.0,126033.0,1.0,1.0
307,Livestock,lvst_pop_initial_mules,0,0,NaN,NaN,NaN,NaN,NaN,5273.0,...,5273.0,5273.0,5273.0,5273.0,5273.0,5273.0,5273.0,5273.0,1.0,1.0
308,Livestock,lvst_pop_initial_pigs,0,0,NaN,NaN,NaN,NaN,NaN,462282.0,...,462282.0,462282.0,462282.0,462282.0,462282.0,462282.0,462282.0,462282.0,1.0,1.0
309,Livestock,lvst_pop_initial_sheep,0,0,NaN,NaN,NaN,NaN,NaN,2890.0,...,2890.0,2890.0,2890.0,2890.0,2890.0,2890.0,2890.0,2890.0,1.0,1.0

In [131]:
os.listdir(sa.dir_proj)

['ref',
 '.DS_Store',
 'LICENSE',
 'project_metadata.json',
 'python',
 'out',
 'pyproject.toml',
 'docs',
 'model_overview.md',
 'README.md',
 '.gitignore',
 'julia',
 'README.rst',
 '.git']