In [1843]:
import os, os.path
import numpy as np
import pandas as pd
import data_structures as ds
import model_afolu as ma
import model_ippu as mi
import model_circular_economy as mc
import model_energy as me
import model_electricity as ml
import model_socioeconomic as se
from model_socioeconomic import Socioeconomic
import setup_analysis as sa
import support_functions as sf
import importlib
import time
import warnings
import matplotlib.pyplot as plt
import sqlalchemy
import sqlite3
from typing import Union
# very useful: https://stackoverflow.com/questions/427453/how-can-i-get-the-source-code-of-a-python-function
#print(inspect.getsource(FUNCTIONHERE))
import inspect
import sql_utilities as sqlutil
from julia.api import Julia

importlib.reload(ds)
importlib.reload(sa)
importlib.reload(sf)
importlib.reload(ma)
importlib.reload(mc)
importlib.reload(mi)
importlib.reload(me)
importlib.reload(se)
importlib.reload(ml)

In [1844]:
importlib.reload(ds)
importlib.reload(mc)
importlib.reload(me)
importlib.reload(ma)

warnings.filterwarnings("ignore")

df_cs_integrated = pd.read_csv(os.path.join(sa.dir_ref, "fake_data", "fake_data_complete.csv"))

model_afolu = ma.AFOLU(sa.model_attributes);
model_circecon = mc.CircularEconomy(sa.model_attributes);
#model_ippu = mi.IPPU(sa.model_attributes);
model_energy = me.NonElectricEnergy(sa.model_attributes);

# 
df_project_afolu = model_afolu.project(df_cs_integrated)
df_cs_integrated = sf.merge_output_df_list([df_cs_integrated, df_project_afolu], sa.model_attributes, "concatenate")

# pass integrated df
df_project_ce = model_circecon.project(df_cs_integrated)
df_cs_integrated = sf.merge_output_df_list([df_cs_integrated, df_project_ce], sa.model_attributes, "concatenate")

# pass integrated df
df_project_ip = model_ippu.project(df_cs_integrated)
df_cs_integrated = sf.merge_output_df_list([df_cs_integrated, df_project_ip], sa.model_attributes, "concatenate")

# pass integrated df
df_project_en = model_energy.project(df_cs_integrated)
df_cs_integrated = sf.merge_output_df_list([df_cs_integrated, df_project_en], sa.model_attributes, "concatenate")

In [1842]:
df_out = model_energy.project(df_cs_integrated, subsectors_project = "fgtv")
df_out[[x for x in df_out.columns if "demand" in x]]

Warning in project_enfu_production_and_demands: Variable 'Energy Demand by Fuel in Electricity' not found in the data frame. Its fuel demands will not be included.

,energy_demand_enfu_total_fuel_biofuels,energy_demand_enfu_total_fuel_biogas,energy_demand_enfu_total_fuel_biomass,energy_demand_enfu_total_fuel_coal,energy_demand_enfu_total_fuel_coke,energy_demand_enfu_total_fuel_diesel,energy_demand_enfu_total_fuel_electricity,energy_demand_enfu_total_fuel_gas_furnace,energy_demand_enfu_total_fuel_gas_petroleum_liquid,energy_demand_enfu_total_fuel_gasoline,...,energy_demand_enfu_total_fuel_hydropower,energy_demand_enfu_total_fuel_kerosene,energy_demand_enfu_total_fuel_natural_gas,energy_demand_enfu_total_fuel_nuclear,energy_demand_enfu_total_fuel_ocean,energy_demand_enfu_total_fuel_oil,energy_demand_enfu_total_fuel_other,energy_demand_enfu_total_fuel_solar,energy_demand_enfu_total_fuel_waste,energy_demand_enfu_total_fuel_wind
0,0.110412,0.0,1.795100,0.410709,1.110225,8.229208,21.474645,0.070379,0.126464,24.400765,...,0.0,0.009877,10.072297,0.0,0.0,2.780412,0.0,0.008918,0.0,0.0
1,0.112174,0.0,1.814023,0.411571,1.112119,8.346636,21.882699,0.070172,0.123509,24.808849,...,0.0,0.020153,10.104875,0.0,0.0,2.785705,0.0,0.008937,0.0,0.0
2,0.113773,0.0,1.830908,0.412224,1.113548,8.496728,22.267469,0.069962,0.124367,25.184037,...,0.0,0.030756,10.131969,0.0,0.0,2.789815,0.0,0.008951,0.0,0.0
3,0.115214,0.0,1.845853,0.412687,1.114559,8.627298,22.601021,0.069750,0.125341,25.520155,...,0.0,0.041619,10.153745,0.0,0.0,2.792712,0.0,0.008961,0.0,0.0
4,0.116668,0.0,1.861158,0.413239,1.115757,8.767748,22.953987,0.069552,0.126395,25.862707,...,0.0,0.052820,10.178182,0.0,0.0,2.796186,0.0,0.008972,0.0,0.0
5,0.118084,0.0,1.876074,0.413771,1.116907,8.906135,23.300550,0.069357,0.127458,26.197201,...,0.0,0.064317,10.202232,0.0,0.0,2.799531,0.0,0.008984,0.0,0.0
6,0.119524,0.0,1.891378,0.414363,1.118181,9.052548,23.664419,0.069168,0.128547,26.539753,...,0.0,0.076167,10.228407,0.0,0.0,2.803260,0.0,0.008997,0.0,0.0
7,0.120969,0.0,1.906835,0.414990,1.119523,9.204144,24.038875,0.068984,0.129655,26.885724,...,0.0,0.088364,10.256000,0.0,0.0,2.807212,0.0,0.009010,0.0,0.0
8,0.122446,0.0,1.922770,0.415682,1.121000,9.365616,24.434593,0.068804,0.130800,27.242189,...,0.0,0.100956,10.286130,0.0,0.0,2.811588,0.0,0.009025,0.0,0.0
9,0.123953,0.0,1.939155,0.416437,1.122600,9.537067,24.851499,0.068630,0.131988,27.608937,...,0.0,0.113959,10.318788,0.0,0.0,2.816359,0.0,0.009041,0.0,0.0
10,0.125450,0.0,1.955468,0.417201,1.124212,9.711493,25.273563,0.068459,0.133188,27.975145,...,0.0,0.127325,10.352305,0.0,0.0,2.821190,0.0,0.009058,0.0,0.0
11,0.126935,0.0,1.971708,0.417975,1.125836,9.888812,25.700886,0.068292,0.134387,28.340870,...,0.0,0.141053,10.386712,0.0,0.0,2.826082,0.0,0.009074,0.0,0.0
12,0.128410,0.0,1.987867,0.418760,1.127473,10.069023,26.133523,0.068129,0.135578,28.706030,...,0.0,0.155144,10.422042,0.0,0.0,2.831036,0.0,0.009091,0.0,0.0
13,0.129872,0.0,2.003941,0.419555,1.129121,10.252196,26.571619,0.067970,0.136759,29.070614,...,0.0,0.169599,10.458326,0.0,0.0,2.836054,0.0,0.009108,0.0,0.0
14,0.131323,0.0,2.019922,0.420361,1.130783,10.438434,27.015324,0.067815,0.137929,29.434623,...,0.0,0.184418,10.495599,0.0,0.0,2.841139,0.0,0.009126,0.0,0.0
15,0.132761,0.0,2.035806,0.421178,1.132458,10.627859,27.464832,0.067665,0.139090,29.798056,...,0.0,0.199600,10.533897,0.0,0.0,2.846291,0.0,0.009143,0.0,0.0
16,0.134186,0.0,2.051589,0.422007,1.134145,10.820615,27.920340,0.067519,0.140242,30.160948,...,0.0,0.215147,10.573256,0.0,0.0,2.851513,0.0,0.009161,0.0,0.0
17,0.135599,0.0,2.067271,0.422847,1.135847,11.016832,28.382139,0.067378,0.141384,30.523485,...,0.0,0.231057,10.613717,0.0,0.0,2.856805,0.0,0.009179,0.0,0.0
18,0.136999,0.0,2.082850,0.423700,1.137561,11.216149,28.850198,0.067241,0.142480,30.885651,...,0.0,0.247332,10.655318,0.0,0.0,2.862168,0.0,0.009197,0.0,0.0
19,0.138389,0.0,2.098334,0.424564,1.139288,11.418800,29.324966,0.067109,0.143533,31.247800,...,0.0,0.263973,10.698103,0.0,0.0,2.867601,0.0,0.009216,0.0,0.0
20,0.139767,0.0,2.113722,0.425440,1.141028,11.624977,29.806764,0.066981,0.144546,31.610082,...,0.0,0.280982,10.742116,0.0,0.0,2.873106,0.0,0.009234,0.0,0.0
21,0.141135,0.0,2.129014,0.426330,1.142781,11.834868,30.295904,0.066857,0.145519,31.972619,...,0.0,0.298357,10.787401,0.0,0.0,2.878684,0.0,0.009254,0.0,0.0
22,0.142492,0.0,2.144207,0.427231,1.144547,12.048670,30.792693,0.066737,0.146456,32.335526,...,0.0,0.316100,10.834006,0.0,0.0,2.884336,0.0,0.009273,0.0,0.0
23,0.143838,0.0,2.159295,0.428146,1.146326,12.266571,31.297416,0.066622,0.147357,32.698865,...,0.0,0.334209,10.881977,0.0,0.0,2.890065,0.0,0.009292,0.0,0.0
24,0.145173,0.0,2.174279,0.429075,1.148118,12.490227,31.811231,0.066512,0.148326,33.062984,...,0.0,0.352685,10.931366,0.0,0.0,2.895878,0.0,0.009312,0.0,0.0
25,0.146497,0.0,2.189156,0.430017,1.149924,12.720682,32.334948,0.066406,0.149424,33.428133,...,0.0,0.371528,10.982224,0.0,0.0,2.901777,0.0,0.009333,0.0,0.0
26,0.147810,0.0,2.203921,0.430973,1.151743,12.957276,32.868407,0.066304,0.150592,33.794279,...,0.0,0.390736,11.034605,0.0,0.0,2.907764,0.0,0.009353,0.0,0.0
27,0.149113,0.0,2.218574,0.431944,1.153576,13.199828,33.411775,0.066208,0.151801,34.161520,...,0.0,0.410310,11.088566,0.0,0.0,2.913839,0.0,0.009374,0.0,0.0
28,0.150404,0.0,2.233106,0.432929,1.155423,13.447850,33.964967,0.066116,0.153005,34.529806,...,0.0,0.430246,11.144163,0.0,0.0,2.920001,0.0,0.009395,0.0,0.0
29,0.151683,0.0,2.247504,0.433930,1.157285,13.701450,34.528169,0.066029,0.154199,34.899034,...,0.0,0.450543,11.201455,0.0,0.0,2.926256,0.0,0.009416,0.0,0.0
30,0.152949,0.0,2.261762,0.434948,1.159161,13.960776,35.101692,0.065948,0.155379,35.269250,...,0.0,0.471196,11.260505,0.0,0.0,2.932605,0.0,0.009438,0.0,0.0
31,0.154203,0.0,2.275877,0.435981,1.161053,14.234430,35.690548,0.065872,0.157134,35.641746,...,0.0,0.492204,11.321377,0.0,0.0,2.939077,0.0,0.009460,0.0,0.0
32,0.155444,0.0,2.289845,0.437032,1.162960,14.515517,36.291239,0.065801,0.158963,36.015717,...,0.0,0.513564,11.384139,0.0,0.0,2.945652,0.0,0.009482,0.0,0.0
33,0.156673,0.0,2.303666,0.438100,1.164882,14.804746,36.904484,0.065736,0.160896,36.391425,...,0.0,0.535276,11.448860,0.0,0.0,2.952334,0.0,0.009505,0.0,0.0
34,0.157890,0.0,2.317336,0.439185,1.166820,15.102870,37.531010,0.065677,0.162969,36.769136,...,0.0,0.557336,11.515613,0.0,0.0,2.959126,0.0,0.009528,0.0,0.0
35,0.159095,0.0,2.330853,0.440289,1.168773,15.411059,38.171819,0.065623,0.165245,37.149163,...,0.0,0.579742,11.584475,0.0,0.0,2.966034,0.0,0.009552,0.0,0.0

In [1515]:
importlib.reload(sf)
importlib.reload(sqlutil)
importlib.reload(ml)

model_elec = ml.ElectricEnergy(sa.model_attributes, sa.dir_ref_nemo)

In [1416]:
importlib.reload(me)

model_energy = me.NonElectricEnergy(sa.model_attributes)

df_out = model_elec.retrieve_output_tables_from_sql(
    engine, 
    df_cs_integrated
)

df_cs_integrated2 = sf.merge_output_df_list([df_cs_integrated, df_out], sa.model_attributes, "concatenate")
df_ret = model_energy.project(df_cs_integrated2, subsectors_project = "Fugitive Emissions")

In [1245]:
engine = sqlalchemy.create_engin e(f"sqlite:///{sa.fp_sqlite_nemomod_db_tmp}")

In [10]:
from julia import Base
from julia import Pkg
Pkg.activate(sa.dir_jl)

from julia import NemoMod
from julia import Cbc
from julia import JuMP
from julia import Clp

In [ ]:
##  PyJulia commands

#NemoMod.createnemodb(sa.fp_sqlite_nemomod_db_tmp)

In [ ]:
?model_elec.format_model_variable_as_nemomod_table

In [1849]:
##  GENERATE INPUT DICTIONARY

importlib.reload(sf)
importlib.reload(ml)
model_elec = ml.ElectricEnergy(sa.model_attributes, sa.dir_ref_nemo)
fp_in = sa.dict_fp_csv_nemomod.get(sa.model_attributes.table_nemomod_specified_demand_profile)
df_spd = pd.read_csv(fp_in)

fp_in = sa.dict_fp_csv_nemomod[sa.model_attributes.table_nemomod_capacity_factor]
df_capfactor = pd.read_csv(fp_in)

#dict_from_storage, dict_to_storage, dict_storage_techs_to_storage = model_elec.format_nemomod_table_technology_from_and_to_storage()
t0 =time.time()
dict_to_sql = model_elec.generate_input_tables_for_sql(df_cs_integrated, df_capfactor, df_spd);


##  REDUCED FOR TESTINS

dict_to_sql2 = {}
#dict_to_sql2["CapacityToActivityUnit"]
write_always = [
    "EMISSION", 
    "FUEL", 
    "MODE_OF_OPERATION",
    "REGION",
    "STORAGE",
    "TECHNOLOGY",
    "YEAR",
    "LTsGroup",
    "TIMESLICE",
    "TSGROUP1",
    "TSGROUP2",
    "YearSplit"
]
others = sorted([
    x for x in dict_to_sql.keys() if x not in write_always
])

years_keep = ["0", "1"]
for k in write_always + others:
    df_tmp = dict_to_sql[k].copy() 
    if "y" in df_tmp.columns:  
        dict_to_sql2[k] = df_tmp[df_tmp["y"].isin(years_keep)].reset_index(drop = True)
    elif k == "YEAR":
        dict_to_sql2[k] = df_tmp[df_tmp["val"].isin(years_keep)].reset_index(drop = True)
    else:
        dict_to_sql2[k] = df_tmp

        
dict_to_sql[model_elec.model_attributes.table_nemomod_total_technology_annual_activity_lower_limit]["val"] = 0.9*np.array(
    dict_to_sql[model_elec.model_attributes.table_nemomod_total_technology_annual_activity_lower_limit]["val"] 
)
if True:
    #dict_to_sql.pop(model_elec.model_attributes.table_nemomod_total_annual_max_capacity)
    sqlutil._write_dataframes_to_db(
        dict_to_sql,
        engine
    )

Warning in project_enfu_production_and_demands: Variable 'Energy Demand by Fuel in Electricity' not found in the data frame. Its fuel demands will not be included.

In [1850]:
#dict_to_sql["DefaultParams"]
dict_to_sql["SpecifiedAnnualDemand"].head()

   id           r                 f     y        val
0   1  costa_rica  fuel_electricity  1000  21.398632
1   2  costa_rica  fuel_electricity  1001  21.785653
2   3  costa_rica  fuel_electricity  1002  22.150589
3   4  costa_rica  fuel_electricity  1003  22.466948
4   5  costa_rica  fuel_electricity  1004  22.801719

In [1806]:
df1 = dict_to_sql[model_elec.model_attributes.table_nemomod_total_annual_max_capacity]
df1 = df1[df1["t"] == "pp_waste_incineration"]

In [1807]:
df2 = dict_to_sql[model_elec.model_attributes.table_nemomod_total_technology_annual_activity_lower_limit]
df2 = df2[df2["t"] == "pp_waste_incineration"]

In [1822]:
dict_to_sql["SpecifiedAnnualDemand"].head()

   id           r                 f     y        val
0   1  costa_rica  fuel_electricity  1000  22.138809
1   2  costa_rica  fuel_electricity  1001  22.559484
2   3  costa_rica  fuel_electricity  1002  22.956154
3   4  costa_rica  fuel_electricity  1003  23.300022
4   5  costa_rica  fuel_electricity  1004  23.663904

In [1816]:
scalar = sa.model_attributes.get_energy_equivalent("pj", "gwy")
df3 = pd.merge(
    df1.rename(columns = {"val": "maxcap"}).drop(["id"], axis = 1), 
    df2.rename(columns = {"val": "lowerlim"}).drop(["id"], axis = 1)
)

df3["lowerlim"] = np.array(df3["lowerlim"])*scalar

In [1675]:
#importlib.reload(ds)
#importlib.reload(sa)

units_energy_config = sa.model_attributes.configuration.get("energy_units")
units_power_config = sa.model_attributes.configuration.get("power_units")
units_energy_power_equivalent = sa.model_attributes.get_energy_power_swap(units_power_config)

#units_energy_power_equivalent
sa.model_attributes.get_energy_power_swap("gwy")
sa.model_attributes.get_energy_equivalent(units_energy_config, units_energy_power_equivalent)

0.031688087999999996

In [1848]:
NemoMod.createnemodb(sa.fp_sqlite_nemomod_db_tmp)

In [ ]:
base = 1000
optimizer = JuMP.Model(Clp.Optimizer)
result = NemoMod.calculatescenario(
    sa.fp_sqlite_nemomod_db_tmp, 
    jumpmodel = optimizer, 
    numprocs = 1, 
    #calcyears = [base, base + 10, base + 20, base + 30, base + 35],#[1, 36],#10, 35],
    reportzeros = False,
    varstosave = "vusebytechnologyannual, vdiscountedcapitalinvestment, vtotalcapacityannual, vcapitalinvestment, vdiscountedcapitalinvestmentstorage, vaccumulatednewstoragecapacity, vproductionbytechnologyannual, vdiscountedoperatingcost, vannualtechnologyemission"
)

In [ ]:
result

In [1685]:
"infeasible" not in str(result).lower()

#c = inspect.getmembers(model_elec)
a = "CapacityCheck2"
try:
    sf.check_set_values([a], ["NemoMod", "CapacityCheck"])
except:
    a = "NemoMod"
print(a)

NemoMod

In [1781]:
df1 = sqlutil.sql_table_to_df(engine, "vproductionbytechnologyannual")
df1[df1["t"].isin(["pp_biogas", "pp_waste_incineration"])].sort_values(by = ["t", "y"])

df1 = sqlutil.sql_table_to_df(engine, "vtotalcapacityannual")
df1[df1["t"].isin(["pp_biogas", "pp_waste_incineration"])].sort_values(by = ["t", "y"])

             r                      t     y       val                 solvedtm
9   costa_rica              pp_biogas  1010  0.002191  2022-08-22 00:18:54.117
22  costa_rica              pp_biogas  1020  0.002933  2022-08-22 00:18:54.117
34  costa_rica              pp_biogas  1030  0.003833  2022-08-22 00:18:54.117
46  costa_rica              pp_biogas  1035  0.004381  2022-08-22 00:18:54.117
14  costa_rica  pp_waste_incineration  1010  0.002455  2022-08-22 00:18:54.117
26  costa_rica  pp_waste_incineration  1020  0.003120  2022-08-22 00:18:54.117
36  costa_rica  pp_waste_incineration  1030  0.004001  2022-08-22 00:18:54.117
48  costa_rica  pp_waste_incineration  1035  0.004552  2022-08-22 00:18:54.117

In [1778]:
df2 = sqlutil.sql_table_to_df(engine, "TotalTechnologyAnnualActivityLowerLimit")
df2[df2["y"].isin(["1010", "1020", "1030", "1035"])]

    id           r                      t     y       val
10  11  costa_rica              pp_biogas  1010  0.069157
20  21  costa_rica              pp_biogas  1020  0.092566
30  31  costa_rica              pp_biogas  1030  0.120946
35  36  costa_rica              pp_biogas  1035  0.138251
46  47  costa_rica  pp_waste_incineration  1010  0.077468
56  57  costa_rica  pp_waste_incineration  1020  0.098453
66  67  costa_rica  pp_waste_incineration  1030  0.126265
71  72  costa_rica  pp_waste_incineration  1035  0.143637

In [1166]:
df_1 = sqlutil.sql_table_to_df(engine, "vusebytechnologyannual")
df_1[df_1["y"] == "1035"]

,r,t,f,y,val,solvedtm
8,costa_rica,pp_gas,fuel_natural_gas,1035,99.036868,2022-08-19 10:04:16.164
10,costa_rica,st_compressed_air,fuel_electricity,1035,1.049425,2022-08-19 10:04:16.164

In [1160]:
df_2 = sqlutil.sql_table_to_df(engine, "vproductionbytechnologyannual")
df_2[df_2["y"] == "1035"]

,r,t,f,y,val,solvedtm
5,costa_rica,pp_gas,fuel_electricity,1035,3.961475e+01,2022-08-19 10:04:16.164
14,costa_rica,supply_fuel_nuclear,fuel_nuclear,1035,1.076530e-10,2022-08-19 10:04:16.164
16,costa_rica,supply_fuel_natural_gas,fuel_natural_gas,1035,1.022945e+02,2022-08-19 10:04:16.164
17,costa_rica,supply_fuel_oil,fuel_oil,1035,1.031676e+02,2022-08-19 10:04:16.164
29,costa_rica,st_compressed_air,fuel_electricity,1035,7.870685e-01,2022-08-19 10:04:16.164

In [ ]:
model_elec.retrieve_nemomod_technology_table(
    engine,
    model_elec.modvar_enfu_energy_demand_by_fuel_elec,
    model_elec.model_attributes.table_nemomod_capital_investment_storage_discounted,
    df_cs_integrated["time_period"],
    techs_to_pivot = ["all_techs_dummy"]
)

In [1827]:
df_out = model_elec.retrieve_output_tables_from_sql(engine, df_cs_integrated)

In [1830]:
df_out[[x for x in df_out.columns if "use" in x]]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35]

In [ ]:
m = 2999
ma = 0
for k in dict_to_sql.keys():
    if "y" in dict_to_sql[k].columns:
        if len(dict_to_sql[k]) > 0:
            print(f"{k}:\n")
            print(min(dict_to_sql[k]["y"]))
            print("\n")
            
            mi = min([int(x) for x in list(dict_to_sql[k]["y"])])
            m = min(m, mi)
            ma = max(ma, mi)