In [434]:
import os, os.path
import numpy as np
import pandas as pd
import data_structures as ds
import model_afolu as ma
import model_ippu as mi
import model_circular_economy as mc
import model_energy as me
import model_electricity as ml
import model_socioeconomic as se
from model_socioeconomic import Socioeconomic
import setup_analysis as sa
import support_functions as sf
import importlib
import time
import warnings
import matplotlib.pyplot as plt

importlib.reload(ds)
importlib.reload(sa)
importlib.reload(sf)
importlib.reload(ma)
importlib.reload(mc)
importlib.reload(mi)
importlib.reload(me)
importlib.reload(se)
importlib.reload(ml)

/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/python/data_structures.py:771: UserWarning: Invalid subsector attribute 'key_varreqs_partial'. Valid return type values are:'pycategory_primary', 'abv_subsector', 'sector', 'abv_sector', 'key_varreqs_all'
  warnings.warn(f"Invalid subsector attribute '{return_type}'. Valid return type values are:{valid_rts}")

In [437]:
sa.model_attributes.dict_attributes["ts_group_1"].table

  ts_group_1       description  multiplier
0     summer  Season of summer   13.035714
1       fall    Season of fall   13.035714
2     winter  Season of winter   13.035714
3     spring  Season of spring   13.035714

In [345]:
##  SpecifiedDemandProfile

# get the baseline specified demand profiles
fp_spd_excel = "/Users/jsyme/Documents/Projects/FY21/SWCHE131_1000/Data/Energy/estimate_of_nemomod_specified_demand_profile.xlsx"
df_spd = pd.read_excel(fp_spd_excel, sheet_name = "SpecifiedDemandProfile")
# get regions, fuels, and time periods, then initialize
regions = sa.model_attributes.dict_attributes["region"].key_values;
df_spd_out = pd.DataFrame({"r": regions})
# add dummy key to both and merge
field_key_dummy = "key_merge"
df_spd[field_key_dummy] = 0
df_spd_out[field_key_dummy] = 0
df_spd_out = pd.merge(df_spd_out, df_spd, on = [field_key_dummy], how = "outer").drop([field_key_dummy], axis = 1).sort_values(by = ["r", "id"])
df_spd_out = df_spd_out.drop(["id"], axis = 1).reset_index(drop = True)

# write to output
#df_spd_out.to_csv(sa.fp_csv_nemomod_input_specified_demand_profile, index = None, encoding = "UTF-8")

In [372]:
# check TimeSlice attribute
df_tmp = sa.model_attributes.dict_attributes["time_slice"].table.copy()


dict_repl = {"weekday": 5/7, "weekend": 2/7}
df_tmp["weight"] = df_tmp["tg2"].replace(dict_repl)

dict_denom = {}
for k in dict_repl.keys():
    df_filt = df_tmp[df_tmp["tg2"].isin([k])]
    dict_denom.update({k: len(df_filt)})

df_tmp["denom"] = df_tmp["tg2"].replace(dict_denom)
df_tmp["weight"] = np.array(df_tmp["weight"])/np.array(df_tmp["denom"])
df_tmp.drop(["denom"], axis = 1, inplace = True)
df_tmp.rename(columns = {"time_slice": "``$TIME-SLICE$``"}, inplace = True)
# uncomment to export
#df_tmp.to_csv(sa.model_attributes.dict_attributes["time_slice"].fp_table, index = None, encoding = "UTF-8")

In [441]:
importlib.reload(ml)
model_elec = ml.ElectricEnergy(sa.model_attributes)
#df_spd = pd.read_csv(sa.fp_csv_nemomod_input_specified_demand_profile)

#dict_from_storage, dict_to_storage, dict_storage_techs_to_storage = model_elec.format_nemomod_table_technology_from_and_to_storage()
model_elec.format_nemomod_table_technology_from_and_to_storage()

/Users/jsyme/Documents/Projects/git_jbus/lac_decarbonization/python/data_structures.py:771: UserWarning: Invalid subsector attribute 'key_varreqs_partial'. Valid return type values are:'pycategory_primary', 'abv_subsector', 'sector', 'abv_sector', 'key_varreqs_all'
  warnings.warn(f"Invalid subsector attribute '{return_type}'. Valid return type values are:{valid_rts}")

(   id       r                  t                  s         m  val
 0   1  brazil       st_batteries       st_batteries  generate  1.0
 1   2  brazil  st_compressed_air  st_compressed_air  generate  1.0
 2   3  brazil       st_flywheels       st_flywheels  generate  1.0,
     id       r                  t                  s         m  val
 0    1  brazil      pp_geothermal       st_batteries  generate  1.0
 1    2  brazil            pp_wind       st_batteries  generate  1.0
 2    3  brazil       st_flywheels       st_flywheels     store  1.0
 3    4  brazil  st_compressed_air  st_compressed_air     store  1.0
 4    5  brazil       st_batteries       st_batteries     store  1.0
 5    6  brazil           pp_solar       st_flywheels  generate  1.0
 6    7  brazil           pp_solar  st_compressed_air  generate  1.0
 7    8  brazil           pp_solar       st_batteries  generate  1.0
 8    9  brazil           pp_ocean       st_flywheels  generate  1.0
 9   10  brazil           pp_ocean  st_compressed_air  generate  1.0
 10  11  brazil           pp_ocean       st_batteries  generate  1.0
 11  12  brazil      pp_hydropower       st_flywheels  generate  1.0
 12  13  brazil      pp_hydropower  st_compressed_air  generate  1.0
 13  14  brazil      pp_hydropower       st_batteries  generate  1.0
 14  15  brazil      pp_geothermal       st_flywheels  generate  1.0
 15  16  brazil      pp_geothermal  st_compressed_air  generate  1.0
 16  17  brazil            pp_wind  st_compressed_air  generate  1.0
 17  18  brazil            pp_wind       st_flywheels  generate  1.0)

In [379]:
df_ltsgroup, df_yearsplit = model_elec.format_nemomod_table_ltsgroup_and_year_split()

In [427]:
df_tmp = sa.model_attributes.dict_attributes["time_slice"].table
7*sum(np.array(df_tmp[df_tmp["tg2"] == "weekday"]["weight"])*8760)/8760

4.999999871999993

In [386]:
model_elec.format_nemomod_attribute_table_mode_of_operation()

        val                                               desc
0  generate  Storage technologies (``st_``) can generate an...
1     store  Storage technologies (``st_``) can generate an...

In [433]:
df_tgs[["tg2", "val"]].groupby(["tg2"]).agg({"tg2": "first", "val": "sum"})

             tg2       val
tg2
weekday  weekday  0.714286
weekend  weekend  0.285714

In [395]:
# get time groups
df_tgs = pd.merge(
    df_ltsgroup[[model_elec.field_nemomod_id, model_elec.field_nemomod_time_slice, model_elec.field_nemomod_tg1, model_elec.field_nemomod_tg2]],
    df_yearsplit[df_yearsplit[model_elec.field_nemomod_year] == min(df_yearsplit[model_elec.field_nemomod_year])][[model_elec.field_nemomod_time_slice, model_elec.field_nemomod_value]],
    how = "left"
).sort_values(by = [model_elec.field_nemomod_id])

# assume ordering is correct from attribute table

In [445]:
model_elec.model_attributes.dict_attributes["ts_group_1"].table

  ts_group_1       description  multiplier
0     summer  Season of summer   13.035714
1       fall    Season of fall   13.035714
2     winter  Season of winter   13.035714
3     spring  Season of spring   13.035714

In [447]:

##  format TSGROUP1 and TSGROUP2 

# some dictionaries
dict_field_to_attribute = {model_elec.field_nemomod_tg1: "ts_group_1", model_elec.field_nemomod_tg2: "ts_group_2"}
dict_tg = {}

for fld in [model_elec.field_nemomod_tg1, model_elec.field_nemomod_tg2]:
    
    # prepare from LTsGroup table
    dict_agg = {
        model_elec.field_nemomod_id: "first",
        fld: "first"
    }

    df_tgs_out = df_tgs[[
        model_elec.field_nemomod_id, fld
    ]].groupby(
        [fld]
    ).agg(dict_agg).sort_values(
        by = [model_elec.field_nemomod_id]
    ).reset_index(
        drop = True
    )

    # get attribute for time slice group
    attr_cur = model_elec.model_attributes.dict_attributes[dict_field_to_attribute[fld]].table.copy()
    attr_cur.rename(
        columns = {
            dict_field_to_attribute[fld]: model_elec.field_nemomod_name,
            "description": model_elec.field_nemomod_description,
            "multiplier": model_elec.field_nemomod_multiplier
        }, inplace = True
    )
   
    df_tgs_out[model_elec.field_nemomod_order] = range(1, len(df_tgs_out) + 1)
    df_tgs_out = df_tgs_out.drop([model_elec.field_nemomod_id], axis = 1).rename(
        columns = {
            fld: model_elec.field_nemomod_name
        }
    )
    df_tgs_out = pd.merge(df_tgs_out, attr_cur).sort_values(by = [model_elec.field_nemomod_order]).reset_index(drop = True)
    
    # order for output
    df_tgs_out = df_tgs_out[[
        model_elec.field_nemomod_name, 
        model_elec.field_nemomod_description,
        model_elec.field_nemomod_order, 
        model_elec.field_nemomod_multiplier,
    ]]
    
    dict_tg.update({fld: df_tgs_out})

In [449]:
dict_tg["tg1"]

     name              desc  order  multiplier
0  summer  Season of summer      1   13.035714
1    fall    Season of fall      2   13.035714
2  winter  Season of winter      3   13.035714
3  spring  Season of spring      4   13.035714

In [452]:
13.035714*28

364.999992